subscription_id                         = "00000000-0000-0000-0000-000000000000"
location                                = "francecentral"
location_short                          = "frc"
workload                                = "mlops"
environment                             = "staging"
environment_short                       = "stg"
instance                                = "01"
enable_private_networking               = true
managed_network_isolation_mode          = "AllowInternetOutbound"
rg_infra_name                           = "rg-mlops-infra-stg-frc-01"
rg_workload_name                        = "rg-mlops-workload-stg-frc-01"
hub_resource_group_name                 = "rg-hub"
hub_vnet_id                             = "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-hub/providers/Microsoft.Network/virtualNetworks/hub-vnet"
hub_vnet_name                           = "hub-vnet"
hub_firewall_private_ip                 = "10.0.0.132"
spoke_vnet_name                         = "vnet-mlops-stg-frc-01"
spoke_vnet_cidr                         = "10.1.0.0/22"
spoke_aml_compute_subnet_name           = "snet-mlops-aml-compute"
spoke_aml_compute_subnet_cidr           = "10.1.0.0/24"
spoke_private_endpoints_subnet_name     = "snet-mlops-private-endpoints"
spoke_private_endpoints_subnet_cidr     = "10.1.1.0/26"
spoke_devops_runner_subnet_name         = "snet-mlops-devops-runner"
spoke_devops_runner_subnet_cidr         = "10.1.1.64/27"
shared_log_analytics_workspace_id       = "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-hub/providers/Microsoft.OperationalInsights/workspaces/log-hub-frc-01"
shared_application_insights_id          = "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-hub/providers/Microsoft.Insights/components/appi-hub-frc-01"
private_dns_zone_id_api_azureml_ms      = "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-hub/providers/Microsoft.Network/privateDnsZones/privatelink.api.azureml.ms"
private_dns_zone_id_notebooks_azure_net = "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-hub/providers/Microsoft.Network/privateDnsZones/privatelink.notebooks.azure.net"
private_dns_zone_id_blob_core_windows_net = ""
private_dns_zone_id_file_core_windows_net = ""
private_dns_zone_id_dfs_core_windows_net  = ""
private_dns_zone_id_vaultcore_azure_net   = ""
private_dns_zone_id_azurecr_io            = ""
endpoint_identity_name                  = "id-mlops-stg-endpoint-frc-01"
runner_identity_name                    = "id-mlops-stg-runner-frc-01"
compute_identity_name                   = "id-mlops-stg-compute-frc-01"
runner_admin_username                   = "azureuser"
runner_admin_password                   = "ChangeMe123!@#"
runner_vm_size                          = "Standard_D2s_v3"
aml_compute_name                        = "cpu-cluster-stg"
aml_compute_vm_size                     = "Standard_DS2_v2"
aml_compute_min_instances               = 0
aml_compute_max_instances               = 1
github_owner                            = ""
github_repository                       = ""
github_main_branch                      = "main"
github_oidc_role_definition_name        = "Owner"
tag_owner                               = "tfm"
tag_cost_center                         = "master"
