.terraform/
*.tfstate
*.tfstate.*
crash.log

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Variables sensibles/locales
*.auto.tfvars
*.auto.tfvars.json
terraform.tfvars
terraform.tfvars.json
config/*.env
config/*.local

# SO / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
