# Single source of truth for mlops-platform staging.

SUBSCRIPTION_ID=00000000-0000-0000-0000-000000000000
LOCATION=francecentral
LOCATION_SHORT=frc
WORKLOAD=mlops
ENVIRONMENT=staging
ENVIRONMENT_SHORT=stg
INSTANCE=01
ENABLE_PRIVATE_NETWORKING=true
MANAGED_NETWORK_ISOLATION_MODE=AllowInternetOutbound

# Backend
TFSTATE_RESOURCE_GROUP=rg-tfstate-platform-stg-frc-01
TFSTATE_STORAGE_ACCOUNT=sttfplatformstgfrc01
TFSTATE_CONTAINER=tfstate
TFSTATE_KEY=mlops-platform-staging.tfstate

# Resource groups
RG_INFRA_NAME=rg-mlops-infra-stg-frc-01
RG_WORKLOAD_NAME=rg-mlops-workload-stg-frc-01

# Hub objects imported from hub-core-repo
HUB_RESOURCE_GROUP_NAME=rg-hub
HUB_VNET_ID=/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-hub/providers/Microsoft.Network/virtualNetworks/hub-vnet
HUB_VNET_NAME=hub-vnet
HUB_FIREWALL_PRIVATE_IP=10.0.0.132

# Spoke infrastructure created by mlops-platform-repo
SPOKE_VNET_NAME=vnet-mlops-stg-frc-01
SPOKE_VNET_CIDR=10.1.0.0/22
SPOKE_AML_COMPUTE_SUBNET_NAME=snet-mlops-aml-compute
SPOKE_AML_COMPUTE_SUBNET_CIDR=10.1.0.0/24
SPOKE_PRIVATE_ENDPOINTS_SUBNET_NAME=snet-mlops-private-endpoints
SPOKE_PRIVATE_ENDPOINTS_SUBNET_CIDR=10.1.1.0/26
SPOKE_DEVOPS_RUNNER_SUBNET_NAME=snet-mlops-devops-runner
SPOKE_DEVOPS_RUNNER_SUBNET_CIDR=10.1.1.64/27

# Shared observability from hub-core-repo
SHARED_LOG_ANALYTICS_WORKSPACE_ID=/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-hub/providers/Microsoft.OperationalInsights/workspaces/log-hub-frc-01
SHARED_APPLICATION_INSIGHTS_ID=/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-hub/providers/Microsoft.Insights/components/appi-hub-frc-01

# Existing private DNS zones from hub-core-repo
PRIVATE_DNS_ZONE_ID_API_AZUREML_MS=/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-hub/providers/Microsoft.Network/privateDnsZones/privatelink.api.azureml.ms
PRIVATE_DNS_ZONE_ID_NOTEBOOKS_AZURE_NET=/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-hub/providers/Microsoft.Network/privateDnsZones/privatelink.notebooks.azure.net
PRIVATE_DNS_ZONE_ID_BLOB_CORE_WINDOWS_NET=/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-hub/providers/Microsoft.Network/privateDnsZones/privatelink.blob.core.windows.net
PRIVATE_DNS_ZONE_ID_FILE_CORE_WINDOWS_NET=/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-hub/providers/Microsoft.Network/privateDnsZones/privatelink.file.core.windows.net
PRIVATE_DNS_ZONE_ID_DFS_CORE_WINDOWS_NET=/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-hub/providers/Microsoft.Network/privateDnsZones/privatelink.dfs.core.windows.net
PRIVATE_DNS_ZONE_ID_VAULTCORE_AZURE_NET=/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-hub/providers/Microsoft.Network/privateDnsZones/privatelink.vaultcore.azure.net
PRIVATE_DNS_ZONE_ID_AZURECR_IO=/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-hub/providers/Microsoft.Network/privateDnsZones/privatelink.azurecr.io

# Identities
ENDPOINT_IDENTITY_NAME=id-mlops-stg-endpoint-frc-01
RUNNER_IDENTITY_NAME=id-mlops-stg-runner-frc-01
COMPUTE_IDENTITY_NAME=id-mlops-stg-compute-frc-01

# Runner
RUNNER_ADMIN_USERNAME=azureuser
RUNNER_ADMIN_PASSWORD=ChangeMe123!@#
RUNNER_VM_SIZE=Standard_D2s_v3

# AML compute
AML_COMPUTE_NAME=cpu-cluster-stg
AML_COMPUTE_VM_SIZE=Standard_DS2_v2
AML_COMPUTE_MIN_INSTANCES=0
AML_COMPUTE_MAX_INSTANCES=1

# GitHub OIDC
GITHUB_OWNER=
GITHUB_REPOSITORY=
GITHUB_MAIN_BRANCH=main
GITHUB_OIDC_ROLE_DEFINITION_NAME=Owner

# Governance
TAG_OWNER=tfm
TAG_COST_CENTER=master
